* {
  transition: all 0s;
}

.face {
  animation: 2s ease-in-out infinite alternate shake;
}
.box-slider {
  text-align: center;
  position: relative;
}
.box-slider iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.box-slider img {
  margin:auto;
  max-width: 100%;
  height: auto;
  max-height: 430px;
  border-radius: 8px;
}
.box-slider p {
  width: 100%;
  padding-top: 10px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .carousel .slide iframe {
    margin: 0;
    border: 0;
    width: 100%;
  }
}